.appSider {
  background-color: var(--color-primary);
  flex-direction: column;
  transition: width 0.2s ease-in-out;

  .navigation {
    width: 100%;
    padding-top: 1rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    .link {
      font-size: 0.9rem;
      color: var(--color-text-inverse);
    }
    .collapseBtn {
      color: rgb(var(--color-text-inverse-rgb) / 0.9);
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      &:hover {
        color: var(--color-text-inverse);
      }
    }
  }
}

.expanded {
  width: 190px;
}

.collapsed {
  width: 60px;
}
