.orderFilters {
  gap: 0.75rem;

  .filters {
    flex: 1;
    gap: 0.5rem;
    align-items: flex-end;
  }

  .select {
    width: 240px;
  }

  .selectSmall {
    width: 150px;
  }

  .filterLabel {
    font-size: 14px;
  }

  .buttons {
    justify-content: space-between;
    align-items: center;
  }
}
