.customRow {
  height: 65px;
}

.clickableRow {
  cursor: pointer;
}

.clickableCell {
  color: var(--color-link);
  font-weight: 500;
  cursor: pointer;
}

.statusCell {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  .printerIcon {
    height: max-content;
    justify-content: center;
    align-items: center;
    color: var(--color-success);
  }
}

.actionBtn {
  background-color: var(--color-bg-soft);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: min-content;
  padding: 3px 5px;
  color: var(--color-link);
  border: 1px solid var(--color-border-muted);
  &:hover {
    color: var(--color-warning);
    border: 1px solid var(--color-primary);
  }
}

.disabledBtn {
  opacity: 0.4;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: min-content;
  padding: 3px 5px;
  color: var(--color-link);
  border: 1px solid var(--color-border-muted);
}
